# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore app yaml (has env vars)
app.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/clubhouse_data
api

node_modules
prices.json

/migration_scripts/csv_data
/migration_scripts/output
/migration_scripts/scryfall_data
/migration_scripts/node_modules

# Ignore bulk cards
db_scripts/scryfall_bulk.json
scryfall-default-cards.json
db_scripts/update_scryfall_bulk/bulk_data/*

# Ignore built tsc files
built

#Ignore migrations
migrations